@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
@media (max-width: 575px) {
  h1 {
    font-size: 2.4rem;
    padding-top: 1rem; }
  h2 {
    font-size: 1.6rem; }
  .navbar a {
    margin: 0 .2rem;
    font-size: .75rem;
    vertical-align: -8px; }
  .navbar .img1 {
    display: none; }
  .navbar .ul-left {
    padding-left: .75rem; }
  .relax {
    background-image: url("../images/relaxbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .relax .relax_cont {
      position: relative;
      display: inline-block;
      margin: 1rem 2rem; }
    .relax .gear {
      display: none; }
  .p_grey, .p_darkgrey {
    font-size: .95rem; }
  .designs, .web, .tools {
    display: inline-block;
    width: 50%; }
  .project_list {
    text-align: left;
    max-width: 50%; }
  .project_int {
    text-align: center;
    max-width: 70%; }
  .culture .culture_div {
    max-width: 90%;
    display: inline-block;
    margin-bottom: 1rem; }
  .clients .clients_img {
    display: none; }
  .brands img {
    margin: 1rem 3rem; }
  .footer {
    text-align: center; }
    .footer .footer_media {
      margin-left: 1rem; } }

@media (min-width: 576px) {
  h1 {
    font-size: 3.6rem;
    padding-top: 2rem; }
  h2 {
    font-size: 2.3rem; }
  .navbar a {
    margin: 0 .5rem;
    font-size: .75rem;
    vertical-align: -8px; }
  .navbar .img2 {
    display: none; }
  .navbar .ul-left {
    padding-left: 1.7rem; }
  .p_grey, .p_darkgrey {
    font-size: 1.3rem; }
  .relax {
    background-image: url("../images/aboutbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .relax .relax_cont {
      position: relative;
      display: inline-block;
      width: 60%; }
    .relax .gear {
      position: relative;
      display: inline-block;
      width: 33%; }
  .designs, .web, .tools {
    display: inline-block;
    width: 25%;
    margin: 1rem; }
  .project .project_int {
    text-align: center;
    max-width: 60%; }
  .culture .culture_div {
    max-width: 65%;
    display: inline-block;
    margin-bottom: 1rem; }
  .clients .clients_img {
    display: none; }
  .brands img {
    margin: 1rem; }
  .contact .contact_div {
    display: inline-block;
    width: 85%; }
  .footer {
    text-align: center; }
    .footer .footer_media {
      margin-left: 1rem; } }

@media (min-width: 768px) {
  .navbar a {
    margin: 0 .9rem;
    vertical-align: -9px;
    font-size: .9rem; }
  .project {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/projectbg.jpg"); }
    .project ul {
      text-align: left;
      width: 60%; }
  .project_list {
    text-align: left;
    width: 80%; }
  .project_int {
    text-align: left;
    max-width: 70%; }
  .culture .culture_div {
    max-width: 28%;
    display: inline-block;
    margin: 1rem;
    position: relative; }
  .culture .quality_div::before {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    position: absolute;
    top: 22.5%;
    left: -37.5%;
    background-color: #777777; }
  .culture .quality_div::after {
    content: "";
    display: block;
    width: 60%;
    height: 2px;
    position: absolute;
    top: 22.5%;
    left: 77.5%;
    background-color: #777777; }
  .clients .clients_img {
    display: inline-block;
    vertical-align: middle; }
  .clients .clients_div {
    display: inline-block;
    vertical-align: middle;
    max-width: 55%; }
  .contact .contact_div {
    display: inline-block;
    width: 31%; }
  .footer {
    position: relative;
    text-align: left; }
    .footer .footer_media {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: inline-block; } }

html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase; }

h2, h5 {
  margin-top: 0.5rem;
  margin-bottom: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Montserrat, sans-serif; }

a, p, span {
  font-family: "Roboto Slab", serif; }

.a_grn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  color: #7cc576; }

.a_grn:visited {
  text-decoration: none; }

.btn_rnd, .btn_rect {
  color: white;
  background-color: #7cc576;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transform: scale(1, 0.9);
  border-radius: 2rem;
  border: 0;
  padding: 1.3rem 1.5rem;
  margin: 1.8rem 0; }

.btn_rect {
  padding: .8rem 1rem;
  border: 2px solid white;
  border-radius: 8px;
  margin: 1rem 0; }

.h_wht {
  color: white; }

.h_blk {
  color: black; }

.p_grey {
  color: #cccccc; }

.p_darkgrey {
  color: #b6b6b6;
  padding-top: 0;
  margin: 0.5rem 0 1rem 0; }

.p_darkgrey_info {
  color: #b6b6b6;
  margin-top: 0.5rem;
  font-size: .75rem;
  margin-bottom: .5rem; }

.spnand {
  color: #7cc576; }

.navbar {
  position: fixed;
  background-color: white;
  width: 100%;
  border: 1px solid lightgray;
  z-index: 1; }
  .navbar ul {
    list-style-type: none;
    display: inline-block; }
  .navbar li {
    display: inline-block; }
  .navbar a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: grey;
    font-weight: 600; }
  .navbar a:hover {
    color: #7cc576; }
  .navbar .ul-right {
    float: right;
    margin-right: .5rem; }

.home {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/homebg.png");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  padding-top: 4rem;
  padding-bottom: 3rem; }
  .home h1 {
    margin: 0; }

.services {
  text-align: center;
  margin: 3rem 0 2rem 0; }

.relax {
  color: #cccccc;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem; }
  .relax .checkboxes_align {
    vertical-align: 14px;
    margin-left: 1rem; }

.project {
  padding: 2.5rem 2rem;
  text-align: center; }
  .project a {
    font-family: Montserrat, sans-serif; }
  .project ul {
    list-style-type: none;
    margin: .3rem;
    padding: 0; }
  .project li {
    display: inline-block;
    vertical-align: middle;
    text-align: left; }

.culture {
  background-color: #f9f9f9;
  margin: 0;
  padding: 2.5rem;
  text-align: center; }

.clients {
  text-align: center;
  margin: 2.5rem 0; }
  .clients .clientsbg {
    background-color: #f9f9f9;
    padding: 2rem;
    margin: 1rem; }
    .clients .clientsbg span {
      color: #7cc576;
      font-size: .9rem; }

.green_contact {
  background-color: #7cc576;
  text-align: center;
  padding: 1rem; }

.brands {
  margin: 2rem;
  text-align: center; }
  .brands .brands_img {
    display: inline-block; }
  .brands img {
    vertical-align: middle; }

.contact {
  padding: 2rem;
  color: white;
  background-color: #222222;
  text-align: center; }
  .contact a, .contact span {
    color: white;
    text-decoration: none;
    vertical-align: 10px;
    margin-left: .25rem;
    font-size: .9rem; }
  .contact a:visited {
    text-decoration: none; }
  .contact h5 {
    margin-bottom: 1rem; }
  .contact .contact_div {
    margin: .4rem;
    text-align: left;
    vertical-align: top; }
    .contact .contact_div div {
      margin: .3rem 0; }

.footer {
  margin: 1rem 0; }
  .footer .footer_media {
    vertical-align: middle; }
  .footer p {
    font-family: Montserrat, sans-serif;
    display: inline-block;
    font-size: .65rem;
    color: grey;
    margin-left: 1rem;
    font-weight: 600; }
